@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Source+Sans+Pro:wght@300&display=swap');

*{box-sizing: border-box;} /* now padding + border = calc. within w & h */

html, body{margin: 0 auto;overflow-x:hidden; }

@media only screen and (max-width: 680px) {
  section {padding: 0.5em 1em;}
  h1 {padding-left: 0.5em;}
}

@media only screen and (min-width: 681px) {
  section {padding: 1em 2em;}  
  h1 {padding-left: 1em;}
}
header {
  background-color: #dbe9ee;
  padding: 10px 0;
}

h1, h2 {
  color: #466995;
  font-family: 'Source Sans Pro', sans-serif;
}

p, ul {font-family: 'Cabin', sans-serif;}

code {background-color: #eee; font-size: 1.1em;}

pre code {
  border: 1px solid #999;
  display: block;
  padding: 5px 0;
  max-width: 700px;
  overflow-x: scroll;
}